:root{
  --bgcolor:#00d2d3;
  --bghover:#01a3a4;
}
.af-layout-navbar {
  background-color: var(--bgcolor);
}
.af-navbar-list-item li a:hover{
  color: white !important;
  background-color: var(--bghover);
  border-radius: 5px;
}
.af-navbar-text-color a{
  color: white;
}
.af-navbar-search
{
  border-color: white !important;
  color: black !important;
}
.af-navbar-search:hover{
  color: white !important;
  background-color: var(--bghover) !important;
}
.af-footer{
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
  background-color: skyblue;
}